$success-color:#22c55e;
$primary-color:#67e8f9; 
$secondary-color: #aaa;
$info-color:#93c5fd;

// Buttons
.btn{
    border: none;
    outline: none;
    border-radius: 5px ;
    padding: 5px 15px;
    font-size: 1rem;
    cursor: pointer;
}

.success{
    color: white;
    background-color: $success-color;
}
.blue{

    background-color: $primary-color;
}
.info{

    background-color:  $info-color;

}
.active-page{
    background-color: silver;
}
// Inputs
.input {
    border: 1px solid $secondary-color;
    outline: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
}

// Icons
.icon {
    width: 2rem;
    cursor: pointer;
}
//Pagination