$success-color: #22c55e;
$primary-color: #67e8f9;
$primary-dark-color: rgb(59, 130, 246);
$secondary-color: #aaa;
$secondary-dark-color: #6c757d;
$info-color: #93c5fd;
$danger-color: crimson;

$green-color: rgb(34, 197, 94);

// Buttons
.btn {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 5px 15px;
  font-size: 1rem;
  cursor: pointer;
}
.btn-large {
  margin: 1rem;
  padding: 2rem 8rem;
  font-size: 2em;
}

.success {
  color: white;
  background-color: $success-color;
}
.primary {
  background-color: $primary-color;
}
.primary-dark {
  background-color: $primary-dark-color;
}
.info {
  background-color: $info-color;
}
.danger {
  color: white;
  background-color: $danger-color;
}
.secondaryDark {
  color: white;
  background-color: $secondary-dark-color;
}
.active-page {
  background-color: silver;
}
// Inputs
.input {
  border: 1px solid $secondary-color;
  outline: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
}

// Icons
.icon {
  width: 2rem;
  cursor: pointer;
}
//Pagination
