@import "./cssreset";
@import "./config";
@import "./modal";
@import "./addpage";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
* {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
a {
  display: inline-block;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

// header**
header {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  .header__context {
    text-align: center;
    h1 {
      font-size: 2rem;
      font-weight: 700;
    }
    p {
      font-size: 1rem;
      margin-top: 1.5rem;
    }
  }

  .header-actions {
    display: flex;
    justify-content: center;
    gap: 3rem;
    input {
      width: 50rem;
    }
  }
}

main {
  table {
    width: 95%;
    margin: 5rem auto;
    td,
    th {
      vertical-align: middle;
    }
  }

  th,
  td {
    text-align: center;
    padding: 3rem 0;
    border: 1px solid $secondary-color;
    font-weight: bold;
  }

  td {
    padding: 1.5rem 0;
    font-weight: normal;
  }
}

footer {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  // margin-bottom: 5rem;
  .pagination {
    display: flex;
    gap: 0.5rem;
  }
}
